---
import LayoutBlog from "@/layouts/LayoutBlog.astro"
---

<LayoutBlog
  title="Multivacs Blog - Data Scientist y Machine Learning con +3 años de experiencia"
  description="Blog dedicado a la ciencia de datos y la tecnología aplicada a diversos campos como la industria, los videojuegos o la física; y cómo poner el poder de los datos a nuestra disposición."
>

<main class="p-4 max-w-screen-xl mx-auto mt-8">

    <h2 class="font-bold text-xl">Próximamente...</h2>
  
</main>


</LayoutBlog>