 <div class="user-details">
  <h1  class="text-center mb-4"> Education </h1>

  <div class="row-center">
    <div class="col-auto">
      <div class="card shadow-sm p-3 mb-4">
        <h3 class="card-title">Master in Data Science</h3>
        <p class="text-muted">University of Alicante • 2014 - Current</p>
        <p>Focused on learning the deeper levels of understanding in statistics, optimization and machine learning.</p>
      </div>
    </div>
    <div class="col-auto">
      <div class="card shadow-sm p-3 mb-4">
        <h3 class="card-title">Bachelor's in Computer Science</h3>
        <p class="text-muted">University of Alicante • 2018 - 2023</p>
        <p>
          <ul>
            <li>Participate in hackaton HackaChain based on the blockchain technology.</li>
            <li>Participate in two editions of Google HashCode challenges.</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>