<section class="user-details">
  <header>
    <h2 class="text-center mb-4"> Education </h2>
  </header>
  
  <div class="row-center">
    <div class="col-auto">
      <article class="card shadow-sm p-3 mb-4">
        <header>
          <h3 class="card-title">Master in Data Science</h3>
        </header>
        <span class="text-muted">University of Alicante • 2024 - Current</span>
        <p>Focused on learning the deeper levels of understanding in statistics, optimization and machine learning.</p>
      </article>
    </div>
    <div class="col-auto">
      <article class="card shadow-sm p-3 mb-4">
        <header>
          <h3 class="card-title">Bachelor's in Computer Science</h3>
        </header>
        <span class="text-muted">University of Alicante • 2018 - 2023</span>
        <ul>
          <li>Participate in hackaton HackaChain based on the blockchain technology.</li>
          <li>Participate in two editions of Google HashCode challenges.</li>
        </ul>
      </article>
    </div>
  </div>
</section>