 <section class="container py-5">
  <header>
    <h2 class="text-center mb-4"> Experience </h2>
  </header>
  
  <!-- Fila de tarjetas -->
  <div class="row">

      <!-- Primer item -->
      <div class="col-12 col-md-4 mb-4">
        <article class="card">
          <h3 class="card-title">IT Analyst</h3>
          <span class="card-text text-muted">Corteva Agriscience • jul 2024 - Present</span>
          <div class="card-body">
            <p class="card-text">As an IT analyst, some achievements include:</p>
            <ul>
              <li>Data analysis with Python (pandas, scikit-learn) for client segmentation with clustering.</li>
              <li>Participating in international projects like ERP migration and cybersecurity improvements.</li>
              <li>Designing and implementing ETL processes with Pentaho Data Integration.</li>
              <li>Creating a Python script for static analysis of FileMaker database code.</li>
              <li>Developing software for process optimization in Quality and Production departments.</li>
              <li>Introducing Software Requirements Specification (SRS) development.</li>
            </ul>
          </div>
        </article>
      </div>

      <!-- Segundo item -->
      <div class="col-12 col-md-4 mb-4">
        <article class="card">
          <h3 class="card-title">IT System Technician</h3>
          <span class="card-text text-muted">Corteva Agriscience • jan 2022 - jul 2024</span>
          <div class="card-body">
            
            <p class="card-text">Key responsibilities included:</p>
            <ul>
              <li>Data extraction and transformation (ETL) for business units.</li>
              <li>Developing dashboards and data visualizations for Business Intelligence.</li>
              <li>Designing and implementing ETL processes with Pentaho Data Integration.</li>
              <li>Product presentations in English/Spanish.</li>
            </ul>
          </div>
        </article>
      </div>

      <!-- Tercer item -->
      <div class="col-12 col-md-4 mb-4">
        <article class="card">
          <h3 class="card-title">IT Internship</h3>
          <span class="card-text text-muted">Corteva Agriscience • jul 2021 - dec 2021</span>
          <div class="card-body">
            
            <p class="card-text">My main tasks were:</p>
            <ul>
              <li>Training in FileMaker development IDE.</li>
              <li>Implementation of software development methodologies.</li>
            </ul>
          </div>
        </article>
      </div>

    </div>
</section>