<section>
  <header class="user-details">
    <h2 id="projects"> Featured Projects </h2>
  </header>
  
  <article class="user-projects">
    <div class="images-right">
      <img alt="turnover" src="{{ "/assets/img/project_turnover.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Employee Turnover Risk </h3>
      <ul>
        <li> Scikit-Learn</li>
        <li> Decission Tree</li>
        <li> Tableau</li>
      </ul>
      <p>Dashboard on Tableau for a employee turnover risk model using decission trees.</p>
      <a class="project-link" href="https://public.tableau.com/app/profile/mario.calpena/viz/DashboardRiesgoFuga/Dashboard1" target="_blank">Check it out</a>
    </div>
  </article>

  <article class="user-projects">
    <div class="images-left">
      <img alt="salescrm" src="{{ "/assets/img/project_salescrm.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Sales CRM (Corteva Biologicals)</h3>
      <ul>
        <li> ETL</li>
        <li> FileMaker</li>
        <li> SQL</li>
        <li> JavaScript</li>
      </ul>
      <p>Application and web made on FileMaker as a reporting tool for managers and sales department across EMEA, with ~30 simultaneous users. Responsible for data extraction and integrity from ERP, users management, data visualizations and fullstack development.</p>
      <span class="project-link">Privative code</span>
    </div>
  </article>
</section>