---
 const personalImageAlt = "Mario"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Mario y actualmente trabajo como <strong
        >IT Analyst orientado a ciencia de datos y Machine Learning</strong
      >, con +3 años de experiencia.
    </p>

    <p>
      En mi día a día me encargo de <strong
        >realizar procesos ETL</strong
        >, analizar datos y crear soluciones que aporten valor a la empresa.
    </p>

    <p>
      En mi tiempo libre <strong
        >toco el bajo 🎸</strong
      >, sobre todo temas de rock. Y me encantan los animales.
    </p>
  </div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} loading="lazy" class="order-1 object-cover scale-x-[-1] w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
