---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Enero 2022 - Actualidad",
    title: "IT Analyst | Proyectos en Data Science y Data Engineering",
    company: "Corteva Biologicals",
    description:
      "Creación de Dashboard de ventas para el equipo comercial de EMEA, con segmentación de clientes mediante RFM y k-means. Diseñar e implementar procesos ETL con Pentaho Data Integration. Desarrollo fullstack con herramientas como FileMaker, destacando la creación de un CRM y dashboards para el equipo comercial en EMEA.",
  },
  {
    date: "Julio 2021 - Diciembre 2021",
    title: "Técnico informático en prácticas",
    company: "Corteva Biologicals",
    description:
      "Implantación de metodologías de planificación y desarrollo de proyectos en el área IT. Desarrollo de aplicaciones internas para gestión de proyectos.Implantación de sistema de ticketing para soporte técnico.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
