---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Julio 2024 - Actualidad",
    title: "Dana Analyst / Data Engineer",
    company: "Corteva Biologicals",
    description:
      "Creación de Dashboard de ventas para el equipo comercial de EMEA, con segmentación de clientes mediante RFM y k-means. Diseñar e implementar procesos ETL con Pentaho Data Integration.",
  },
  {
    date: "Enero 2022 - Julio 2024",
    title: "Software Developer",
    company: "Corteva Biologicals",
    description:
      "Desarrollo fullstack con herramientas como FileMaker, destacando la creación de un CRM y dashboards para el equipo comercial en EMEA.",
  },
  {
    date: "Julio 2021 - Diciembre 2021",
    title: "Técnico informático en prácticas",
    company: "Corteva Biologicals",
    description:
      "Completar mi formación en FileMaker. Introducí al equipo en el uso de metodologías de desarrollo y planificación de proyectos.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
