---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Julio 2024 - Actualidad",
    title: "IT Analyst",
    company: "Corteva Biologicals",
    description:
      "Creación de Dashboard de ventas para el equipo comercial de EMEA, con segmentación de clientes mediante RFM y k-means. Diseñar e implementar procesos ETL con Pentaho Data Integration.",
    //link: "https://twitch.tv/midudev",
  },
  {
    date: "Enero 2022 - Julio 2024",
    title: "IT System Technician",
    company: "Corteva Biologicals",
    description:
      "Analisis, extracción y transformación de datos (ETL). Desarrollo de dashboards y visualización de datos para Business Intelligence. Presentación de productos en inglés/español.",
  },
  {
    date: "Julio 2021 - Diciembre 2021",
    title: "Técnico informático en prácticas",
    company: "Corteva Biologicals",
    description:
      "Completar mi formación en FileMaker. Introducí al equipo en el uso de metodologías de desarrollo y planificación de proyectos.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
