---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
  {
    date: "Enero 2022 - Actualidad",
    title: "Data Scientist",
    company: "Corteva Biologicals",
    description: [
      "Implementé un modelo de machine learning para predicción de demanda de producto, usando SARIMA y análisis de series temporales. <strong>Mejoré el error de predicción (sMAPE) un 20%</strong> frente al forecast manual, mejorando la planificación y control de stock de operaciones. Desplegado en Streamlit bajo Docker.",
      "Desarrollé un algoritmo de clustering para segmentación de clientes por fidelidad, utilizando análisis RFM y k-means. Se identificaron clientes en riesgo, ayudando en la toma de decisiones y la planificación de campañas de marketing focalizadas. Desplegado en Flask bajo Docker.",
      "Automaticé flujos ETL para la extracción y reporte de datos de venta desde el ERP (Sage). Permitió dar visibilidad sobre el estado de las ventas al equipo comercial y dirección en la zona de EMEA. Construido en Pentaho y desplegado como tarea programada con envío automático de correo.",
      "Participo en el programa de mentorías como experto en ciencia de datos y machine learning. Ayudo a otros compañeros a aprender sobre IA y ciencia de datos, facilitando el acceso a recursos y material, así como discutir posibles soluciones en diferentes proyectos.",
    ],
  },
  
  {
    date: "Julio 2021 - Diciembre 2021",
    title: "Ingeniero de Software (prácticas)",
    company: "Corteva Biologicals",
    description: [
      "Introduje metodologías de desarrollo, ayudando al equipo a coordinarse, documentar los proyectos y gestión de tareas. Esto permitió mejorar los tiempos de entrega y la calidad de los productos software.", 
      "Desarrollé un sistema de ticketing para soporte técnico que permitió al departamento de IT mejorar la respuesta ante incidentes y la satisfacción del usuario final. La aplicación fue desarrollada y desplegada en FileMaker.",
    ]
    },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
