---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
  {
    date: "Enero 2022 - Actualidad",
    title: "IT Analyst",
    company: "Corteva Biologicals",
    description: [
      "Implementé un modelo de predicción de ventas utilizando SARIMA, <strong>mejorando la precisión de las previsiones trimestrales en un 15%</strong>. Este modelo fue desplegado en un entorno de producción utilizando Flask y Docker.",
      "Creación de Dashboard de ventas para el equipo comercial de EMEA, con <strong>segmentación de clientes</strong> mediante análisis RFM y k-means.",
      "Implementé flujos ETL con Pentaho y SQL, para la extracción y limpieza de datos desde el ERP, permitiendo unificar y crear reportes de ventas entre sociedades.",
      "Desarrollo de CRM interno en FileMaker y dashboards en Power Bi para el equipo comercial de EMEA.",
      "Administración de sistemas Windows y Linux, y gestión de ERP X3 (Sage). Soporte de primer y segundo nivel a usuarios en entorno multinacional.",
    ],
  },
  
  {
    date: "Julio 2021 - Diciembre 2021",
    title: "Técnico informático en prácticas",
    company: "Stoller Europe",
    description: [
      "Introducí metodologías de planificación y desarrollo de proyectos, buenas prácticas y documentación de procesos.", 
      "Desarrollé un sistema de ticketing para soporte técnico que permitió al departamento de IT mejorar la respuesta ante incidentes y la satisfacción del usuario. La aplicación fue desarrollada y desplegada en FileMaker.",
    ]
    },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
