---
import BlogCard from './BlogCard.astro';
import { getCollection  } from "astro:content"



interface Props {
  title: string,
  posts?: Array<any>,
}

const { title } = Astro.props
let posts = Astro.props.posts as Array<any> | undefined;

// Si no se pasan posts, usar todos los posts
if (!posts) {
  posts = (await getCollection('posts')).sort((a, b) => {
  return new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
})};

---

<div class="py-12 md:py-24">
    <h2 class="text-center text-4xl font-extrabold mb-5">{title}</h2>

    <section aria-label="Posts del blog sobre tecnología y data science">
      <div class="px-4 mx-auto max-w-screen-xl">
        <div class="grid gap-6 md:grid-cols-3">
          {
            posts?.map(post => {

              return(
                <BlogCard post={post}/>
              )
            })
          }
        </div>
      </div>
    </section>
</div>